body
{
	font-size: 15px;
}

p
{
	margin-bottom: 20px;
	text-align: justify;
	text-indent: 20px;	
}

h1
{
	font-size : 150%;
	margin: 0px;
	margin-bottom: 10px;
}

h2
{
	font-size: 120%;
	margin: 0px;
	margin-left: 50px;
	margin-bottom: 20px;	
}

li
{
	margin-bottom: 2px;
}

table, td, tr, th
{
	border-collapse: collapse;
	border-style: solid;
    border-width: 1px;
}

td, th
{
	padding-left: 5px;
	padding-right: 5px;	
	text-align: center;
}

div#applet
{
	border-width: 1px;
	border-style: solid;
	margin: 10px;
	width: 400px;
	height: 400px;
	float: right;
}

div#legend
{
	text-align: center;
	font-size: 80%;
}
